@import '../../index.scss';
.material-promo{
	width:100%;
	

	.material-item{
		margin:1%;

		.text{
		
			@include respond(phone) {
		        font-size: $mid-font-size;
		    }
		    @include respond(phone-xs) {
		        font-size: $mid-font-size;
		    }
		    @include respond(tab-port) {
		        font-size: $default-font-size;
		    }
		    @include respond(tab-land) {
		        font-size: $default-font-size;
		    }
		    @include respond(big-desktop) {
		        font-size: $default-font-size;
		    }

		}
		

		.material-icon{
			margin-top:10px;
			img{
				width:6rem;
				margin-left:auto;
				margin-right:auto;
				@include respond(phone) {
			        width:2.5rem;
			    }
			    @include respond(phone-xs) {
			        width:2.5rem;
			    }
			    @include respond(tab-port) {
			        width:4.1rem;
			    }
			    @include respond(tab-land) {
			        width:4.1rem;
			    }
			    @include respond(big-desktop) {
			        width:6rem;
			    }
			}

		}
	}
}