.customer-email {
	display:flex;
	justify-content: center;
	flex-direction: column;
	background-color:white;
	border-radius: 8px;
	margin:5% 30% 5% 30%;
	padding: 2%;

	.title{
		font-size: 32px;
		font-weight: bolder;
		margin-bottom:10%;
	}

	input {
		font-size:25px;
		border-radius: 8px;
		padding:15px;
		max-width:80%;
		margin-left:auto;
		margin-right:auto;
		overflow: hidden;
	}

	.submitBtn{
		margin-top:30px;
		width:55%;
		margin-left:auto;
		margin-right:auto;
	}



}

/* 
		  ##Device = Desktops
		  ##Screen = 1281px to higher resolution desktops
		*/

		@media (min-width: 1281px) {
		  
		}

		/* 
		  ##Device = Laptops, Desktops
		  ##Screen = B/w 1025px to 1280px
		*/

		@media (min-width: 1025px) and (max-width: 1280px) {
	
		  
		  
		}

		/* 
		  ##Device = Tablets, Ipads (portrait)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) {
			.options{
				.option{
					width:45%;
				}
			}
		  
		}

		/* 
		  ##Device = Tablets, Ipads (landscape)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
			.options{
				.option{
					width:45%;
				}
			}
		  
		}

		/* 
		  ##Device = Low Resolution Tablets, Mobiles (Landscape)
		  ##Screen = B/w 481px to 767px
		*/

		@media (min-width: 481px) and (max-width: 767px) {
		 	.customer-email {
				margin: 0px;
				background-color:transparent;
				.title{
					margin-bottom:25%;
				}
				input{
					width:100%;
					font-size:20px;
					margin-bottom:10%;
				}
				.submitBtn{
					margin-top:15px;
					width:75%;
					margin-left:auto;
					margin-right:auto;
				}
			}
		}

		/* 
		  ##Device = Most of the Smartphones Mobiles (Portrait)
		  ##Screen = B/w 320px to 479px
		*/

		@media (min-width: 320px) and (max-width: 480px) {
			.customer-email {
				margin: 0px;
				background-color:transparent;
				.title{
					margin-bottom:25%;
				}
				input{
					width:100%;
					font-size:20px;
					margin-bottom:10%;
				}
				.submitBtn{
					margin-top:15px;
					width:75%;
					margin-left:auto;
					margin-right:auto;
				}
			}
		  
		}