.portfolio-item{
	border-radius:10px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	background-color:white;
	max-width:28%;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);

	.image{
		margin-top:8px;

	    img {
	      width: 80%;
	      height: 100%;
	    }
	}

	.instagram-logo{
		margin-top:10px;
		img {
	      width: 10%;
	      height: 100%;
	    }
	}

	.instagram-link {
		margin-bottom:15px;
		margin-top:8px;

		a{
			text-decoration:none;
			color:gray;
		}
	}

}