.portfolio-item{
	border-radius:10px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	background-color:white;
	max-width:30%;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);

	.image{
		margin-top:25px;

	    img {
	      width: 80%;
	      height: 100%;
	    }
	}

	.instagram-logo{
		margin-top:10px;
		img {
	      width: 10%;
	      height: 100%;
	    }
	}

	.instagram-link {
		margin-bottom:15px;
		margin-top:8px;

		a{
			text-decoration:none;
			color:gray;
		}
	}

	/* 
		  ##Device = Desktops
		  ##Screen = 1281px to higher resolution desktops
		*/

		@media (min-width: 1281px) {
		  .instagram-logo{
				img {
			      width: 10%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:16px;
				}
			}

		  
		  
		}

		/* 
		  ##Device = Laptops, Desktops
		  ##Screen = B/w 1025px to 1280px
		*/

		@media (min-width: 1025px) and (max-width: 1280px) {
		  
		  .instagram-logo{
				img {
			      width: 10%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:16px;
				}
			}
		  
		}

		/* 
		  ##Device = Tablets, Ipads (portrait)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) {
		  
		  .instagram-logo{
				img {
			      width: 20%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:14px;
				}
			}
		  
		}

		/* 
		  ##Device = Tablets, Ipads (landscape)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		  
		  .instagram-logo{
				img {
			      width: 20%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:14px;
				}
			}
		}

		/* 
		  ##Device = Low Resolution Tablets, Mobiles (Landscape)
		  ##Screen = B/w 481px to 767px
		*/

		@media (min-width: 481px) and (max-width: 767px) {
		  
		  .instagram-logo{
				img {
			      width: 20%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:12px;
				}
			}
		  
		}

		/* 
		  ##Device = Most of the Smartphones Mobiles (Portrait)
		  ##Screen = B/w 320px to 479px
		*/

		@media (min-width: 320px) and (max-width: 480px) {
			.instagram-logo{
				img {
			      width: 20%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:12px;
				}
			}
		  
		}

}