@import '../../index.scss';
.portfolio-item{
	border-radius:10px;
	background-color:white;
	max-width:30%;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);

	.image{
		margin-top:25px;

	    img {
	      width: 80%;
	      height: 100%;
	    }
	}

	.instagram-logo{
		margin-top:10px;
		img {
	      width: 10%;
	      height: 100%;
	    }
	}

	.instagram-link {
		margin-bottom:15px;
		margin-top:5px;

		a{
			text-decoration:none;
			color:gray;
			font-size:$mid-font-size;
		}
	}


		@include respond(phone) {
	        .instagram-logo{
				img {
			      width: 15%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:$small-font-size;
				}
			}
	    }
	    @include respond(phone-xs) {
	        .instagram-logo{
				img {
			      width: 15%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:$small-font-size;
				}
			}
	    }
	    @include respond(tab-port) {
	        .instagram-logo{
				img {
			      width: 10%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:$mid-font-size;
				}
			}
	    }
	    @include respond(tab-land) {
	        .instagram-logo{
				img {
			      width: 10%;
			      height: 100%;
			    }
			}

			  .instagram-link {
				a{
					font-size:$mid-font-size;
				}
			}
	    }
	    @include respond(big-desktop) {
	       
	    }

}