@import '../../index.scss';
.engag-bar {
	width:100%;
	padding:25px;
	position:fixed;
	bottom:0px;
	z-index:99;
	background-color:white;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,0,.12);
	a{
	        text-decoration:none;
	  }

		@include respond(phone) {
        	.btn-text{
        		font-size: $mid-font-size;

        	}
	    }
	    @include respond(phone-xs) {
	        .btn-text{
        		font-size: $mid-font-size;

        	}
	    }
	    @include respond(tab-port) {
	        .btn-text{
        		font-size: $default-font-size;

        	}
	    }
	    @include respond(tab-land) {
	        .btn-text{
        		font-size: $default-font-size;

        	}
	    }
	    @include respond(big-desktop) {
	        .btn-text{
        		font-size: $default-font-size;
 
        	}
	    }
}