@import '../../index.scss';
.customer-type{
	background-color:white; 
	border-radius: 8px;
	align-items:center;

	.question{
  		font-weight: bolder;
	}

	.options{

		.option {
			border-radius:10px;
			background-color:white;
			margin:5%;
			box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
			cursor: pointer;
			width:30%;
			
			.option-image{
				display:flex;
				justify-content:center;
				margin:5%;
				img{
					width:45%;
				}
			}

			.titleContainer{
				display: flex; 
				flex-direction:column;
				justify-content:center;
				width: 90%;
    			margin-left: auto;
    			margin-right: auto;

				.title{
					font-weight: bolder;
					color:#5081ff;
					margin-bottom: 10px;
				}
				.text{
					font-weight: bolder;
					color:gray;
					margin-bottom: 30px;
				}

			}

		
		}
		.active{
			border:#5081ff 2px solid;
		}

	}

	@include respond(phone) {
		margin:0;
		.question{
  			margin-bottom:10%;
  			font-size: $default-font-size;
  		}
		.options{
		flex-direction:column;
			.option{
				flex-direction:row;
				width:100%;
				margin:5% 0 5% 0;
				height:150px;

				.option-image{
					display:flex;
					justify-content:center;
					margin:5%;
					img{
						width:100%;
					}
				}

				.titleContainer{
					width:100%;
					margin-right:10px;

					.title{
			        	font-size: $mid-font-size;
					}

					.text{
						font-size: $small-font-size;
					}
				}
			}
		}
    }
    @include respond(phone-xs) {
    	margin:0;
    	.question{
  			margin-bottom:10%;
  			font-size: $default-font-size;
  		}
        .options{
        	flex-direction:column;
			.option{
				flex-direction:row;
				width:100%;
				margin:5% 0 5% 0;
				height:150px;

				.option-image{
					display:flex;
					justify-content:center;
					margin:5%;
					img{
						width:100%;
					}
				}

				.titleContainer{
					width:100%;
					margin-right:10px;

					.title{
			        	font-size: $mid-font-size;
					}

					.text{
						font-size: $small-font-size;
					}
				}
			}
		}
    }

    @include respond(teblet) {
    	margin:0;
    	.question{
  			font-size: $big-font-size;
  		}
        .options{
        	flex-direction:column;
			.option{
				flex-direction:row;
				width:100%;
				margin:5% 0 5% 0;
				

				.option-image{
					display:flex;
					justify-content:center;
					margin:5%;
					img{
						width:60%;
					}
				}

				.titleContainer{
					width:100%;
					margin-right:10px;

					.title{
			        	font-size: $default-font-size;
					}

					.text{
						font-size: $mid-font-size;
					}
				}
			}
		}
        
    }
    @include respond(desktop) {
        .question{
  			font-size: $big-font-size;
  		}

  		.options .option .titleContainer{
			.title{
	        	font-size: $default-font-size;
			}

			.text{
				font-size: $mid-font-size;
			}			
		}
    }
}