.customer-type{
	display:flex;
	justify-content: center;
	flex-direction:column;
	align-items: center;

	.question{
		font-family: 'Open Sans Condensed';
  		font-weight: bolder;
  		font-size: 38px;
  		margin:18px 0px 18px 0px;
	}

	.options{
		display: flex;
		justify-content:center;

		.option {
			border-radius:10px;
			display:flex;
			justify-content:center;
			flex-direction:column;
			background-color:white;
			margin:5%;
			box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
			cursor: pointer;
			width:30%;
			
			.option-image{
				display:flex;
				justify-content:center;
				margin:5%;
				img{
					width:90%;
				}
			}

			.titleContainer{
				display: flex; 
				flex-direction:column;
				justify-content:center;
				width: 95%;
    			margin-left: auto;
    			margin-right: auto;

				.title{
					font-size:25px;
					font-weight: bolder;
					color:blue;
					margin-bottom: 10px;
				}
				.text{
				font-size:20px;
				font-weight: bolder;
				color:gray;
				margin-bottom: 30px;
				}

			}
			

			
		}



		.active{
			border:blue 2px solid;
		}

	}

	/* 
		  ##Device = Desktops
		  ##Screen = 1281px to higher resolution desktops
		*/

		@media (min-width: 1281px) {

			width: 60%;
    		margin-left: auto;
    		margin-right: auto;
		  
		}

		/* 
		  ##Device = Laptops, Desktops
		  ##Screen = B/w 1025px to 1280px
		*/

		@media (min-width: 1025px) and (max-width: 1280px) {
	
		  	width: 60%;
    		margin-left: auto;
    		margin-right: auto;
		  
		}

		/* 
		  ##Device = Tablets, Ipads (portrait)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) {
			.options{
				.option{
					width:45%;
				}
			}
		  
		}

		/* 
		  ##Device = Tablets, Ipads (landscape)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
			.options{
				.option{
					width:45%;
				}
			}
		  
		}

		/* 
		  ##Device = Low Resolution Tablets, Mobiles (Landscape)
		  ##Screen = B/w 481px to 767px
		*/

		@media (min-width: 481px) and (max-width: 767px) {
		 .question{
				font-size: 28px;
			}
		 .options{
			flex-direction:column;
				.option{
					flex-direction:row;
					width:100%;
					margin:5% 0 5% 0;
					height:150px;

					.option-image{
						display:flex;
						justify-content:center;
						margin:5%;
						img{
							width:100%;
						}
					}
					.titleContainer{
						width:100%;
						margin-right:10px;
						.title{
							font-size:17px;
						}
						.text{
							font-size: 13px;
						}
					}
				}
			}
		}

		/* 
		  ##Device = Most of the Smartphones Mobiles (Portrait)
		  ##Screen = B/w 320px to 479px
		*/

		@media (min-width: 320px) and (max-width: 480px) {
			.question{
				font-size: 28px;
			}
			.options{
			flex-direction:column;
				.option{
					flex-direction:row;
					width:100%;
					margin:5% 0 5% 0;
					height:150px;

					.option-image{
						display:flex;
						justify-content:center;
						margin:5%;
						img{
							width:100%;
						}
					}

					.titleContainer{
						width:100%;
						margin-right:10px;
						.title{
							font-size:17px;
						}
						.text{
							font-size: 13px;
						}
					}
				}
			}
		  
		}
}