@import '../../index.scss';
.header {	
	width: 100%;

	.header-item{
		margin-bottom:20px;

		.logo-centered {
			margin-top:20px;
			width: 18%;
		    img {
		      width: 100%;
		      height: 100%;
		    }
		}

		.slogen{
			font-weight: bold;
			margin-bottom: 30px;
			width: 45%;
			.headline{
				margin-bottom:15px;
				font-size:$big-font-size;
			}
			.text{
				font-size:$default-font-size;
			}
			
		}

	}
	
	.carousel-container{
		margin: 0 20% 0 20%;

		img{
			box-shadow: 0 0 10px rgba(0,0,0,.12);
			border-radius:7px;
		}

		.carousel-root{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		
		
		.carousel.carousel-slider{
			width:50% !important;
			margin-left: auto;
			margin-right: auto;

		}
		.carousel .slide {
			background: transparent;
		}

		.carousel.carousel-slider .control-arrow {
			top:40%;
		}

		.carousel .control-dots .dot{
			background:gray;
		}
	}

		@include respond(phone) {
	        .header-item{
			  .logo-centered {
				width: 25%;
				}

			  .slogen{
				width: 90%;
	
				.headline{
							font-size:$mid-font-size;
						}
						.text{
							font-size:$small-font-size;
						}
				}
			}
			.carousel-container{
				margin: 0 10% 0 10%;
				.carousel.carousel-slider{
					width:100% !important;
				}

				li{
				line-height: 1.5rem;
				}

			}
	    }
	    @include respond(phone-xs) {
	        .header-item{
			  .logo-centered {
				width: 25%;
				}

			  .slogen{
				width: 90%;
	
				.headline{
							font-size:$mid-font-size;
						}
						.text{
							font-size:$small-font-size;
						}
				}
			}
			.carousel-container{
				margin: 0 10% 0 10%;
				.carousel.carousel-slider{
					width:100% !important;
				}

				li{
				line-height: 1.5rem;
				}

			}
	    }
	    @include respond(tab-port) {
	        .header-item{
			  .logo-centered {
					width: 25%;
				}

			  .slogen{
					width: 90%;
					.headline{
							font-size:$default-font-size;
						}
						.text{
							font-size:$mid-font-size;
						}
				}
			}
			.carousel-container{
				.carousel.carousel-slider{
					width:100% !important;
				}

				li{
				line-height: 1.5rem;
				}

			}
	    }
	    @include respond(tab-land) {
	        .header-item{
			  .logo-centered {
					width: 25%;
				}

			  .slogen{
					width: 90%;
					.headline{
							font-size:$default-font-size;
						}
						.text{
							font-size:$mid-font-size;
						}
				}
			}
			.carousel-container{
				.carousel.carousel-slider{
					width:100% !important;
				}

				li{
				line-height: 1.5rem;
				}

			}
	    }
	    @include respond(big-desktop) {
	    }
	
}