@import '../../index.scss';
.footer {
  padding: 15px;
  padding-bottom:120px;
  margin-top:40px;

  .text{
    font-weight: 700;

    @include respond(phone) {
      font-size: $mid-font-size;
    }
    @include respond(phone-xs) {
        font-size: $mid-font-size;
    }
    @include respond(tablet) {
        font-size: $default-font-size;
    }
    @include respond(desktop) {
        font-size: $default-font-size;
    }
  }


.social-links {

  a {

    transition: all 0.2s ease-in;
    margin: 8px;

    @include respond(phone) {
      width: 30px;
      height: 30px;
    }
    @include respond(phone-xs) {
        width: 30px;
        height: 30px;
    }
    @include respond(tablet) {
        width: 40px;
        height: 40px;
    }
    @include respond(desktop) {
        width: 40px;
        height: 40px;
    }
    
    img{
      width:100%;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}
}