@import '../../index.scss';
.customer-name {
	background-color:white; 
	border-radius: 8px;
	margin:12% 30% 12% 30%;
	align-items:center;
	height:100%; 

	.title{
		font-weight: bolder;
		margin-bottom:10%;
		@include respond(phone) {
        font-size: $default-font-size;
	    }
	    @include respond(phone-xs) {
	        font-size: $default-font-size;
	    }
	    @include respond(tab-port) {
	        font-size: $big-font-size;
	    }
	    @include respond(tab-land) {
	        font-size: $big-font-size;
	    }
	    @include respond(big-desktop) {
	        font-size: $big-font-size;
	    }
	}

	input {
		border-radius: 8px;
		padding:15px;
		@include respond(phone) {
        font-size: $mid-font-size;
	    }
	    @include respond(phone-xs) {
	        font-size: $mid-font-size;
	    }
	    @include respond(tab-port) {
	        font-size: $default-font-size;
	    }
	    @include respond(tab-land) {
	        font-size: $default-font-size;
	    }
	    @include respond(big-desktop) {
	        font-size: $default-font-size;
	    }

	}

	@include respond(phone) {
    	margin: 0px;
    	margin-top:35%;
    	margin-bottom:20%;
		background-color:transparent;
		.title{
			margin-bottom:10%;
		}
		input{
			width:100%;
		}
    }
    @include respond(phone-xs) {
        margin: 0px;
        margin-top:35%;
        margin-bottom:25%;
		background-color:transparent;
		.title{
			margin-bottom:20%;
		}
		input{
			width:100%;
			
		}

    }
    @include respond(tab-port) {
    	margin: 5%;
        margin-top:25%;
        margin-bottom:25%;
		background-color:transparent;
		.title{
			margin-bottom:20%;
		}
		input{
			width:100%;
			
		}

    }
    @include respond(tab-land) {
    	margin: 10%;
        margin-top:25%;
        margin-bottom:25%;
		background-color:transparent;
		.title{
			margin-bottom:20%;
		}
		input{
			width:100%;
			
		}

    }
    @include respond(big-desktop) {

    }
	
}