* {
	box-sizing: border-box;
}
body{
	background-color: #f2f2f2;
}
.App {
  text-align: center;
  background-color: #f2f2f2;
  
}
a{
	text-decoration: none;
}
.loader{
	text-align: center;
  	background-color: #f2f2f2;
}