* {
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0; 
} 

body {
    height: 100%;
    margin: 0;
    font-family: 'Assistant', sans-serif !important;
    background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*variables*/

$default-font-size: 1.4rem;/*desktop, mid device titles*/
$big-font-size: 1.8rem;/*desktop titles*/
$mid-font-size: 1.1rem;/*mid-device, small device titles*/
$small-font-size: 1rem;/*smaill-device*/
.hide{
  display:none;
}
.unhide{
  display:block;
}

.flex-center{
	display:flex; 
	justify-content: center;
}
.flex-center-column{
	display:flex; 
	justify-content: center;
	flex-direction: column
}
.flex-evenly{
	display:flex;
	justify-content: space-evenly;
}
.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}


/*
MEDIA QUERY MANAGER

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/
@mixin respond($breakpoint) {
  // Phone-xs
  @if $breakpoint == phone-xs {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    } //320px - 480px
  }
  // Phone
  @if $breakpoint == phone {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    } //481px - 767px
  }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (min-width: 1025px) and (max-width: 1280px) {
      @content;
    } //1025px - 1280px
  }
  // Table Landscape
  @if $breakpoint == tab-land {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    } //768px - 1024px
  }
  // Big Desktop
  @if $breakpoint == big-desktop {
    @media (min-width: 1281px) {
      @content;
    } //1281px +
  }
}