.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 50px 0 50px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Gotu', sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  
  a{
        text-decoration:none;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration:none;
  }

  &.inverted {
    background-color: #5081ff;
    color: white;
    border: none;
    margin-left:auto;
    margin-right:auto;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}