@import '../../index.scss';
.wizard-container .card-wizard .card-header{
	font-family: 'Assistant', sans-serif !important;
	color: white;
	font-weight: bolder;
}
.wizard-container .card-wizard .card-footer .btn{
	background-color: #5081ff;
}

.wizard-container .card-wizard .card-footer .btn:active:focus, .wizard-container .card-wizard .card-footer .btn:active:hover{
	background-color: #5081ff;
}

.wizard-container .card-wizard .card-footer .btn:hover, .wizard-container .card-wizard .card-footer .btn:focus, .wizard-container .card-wizard .card-footer .btn:active, .wizard-container .card-wizard .card-footer .btn.active{
	background-color: #5081ff;
}

@include respond(phone) {
  .wizard-container, .card card-wizard active card{
	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
}
@include respond(phone-xs) {
    .wizard-container, .card card-wizard active card{
	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
}
@include respond(tab-port) {
    .wizard-container, .card card-wizard active card{
	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
}
@include respond(tab-land) {
    .wizard-container, .card card-wizard active card{
	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
}
@include respond(big-desktop) {
    
}
