button{
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 50px 0 50px;
  font-size: 24px;
  background-color: blue;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin:5px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
} 

.contact-page{
  padding:20px;
  box-shadow: none;
  width:100%;
}

ol{
      padding-inline-start: 0px;
      padding-bottom: 1.2rem;
      }

/* 
      ##Device = Desktops
      ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {
      
    }

    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {
  
      
      
    }

    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {
     
      
    }

    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     
      
    }

    /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {
    button{
        font-size:18px;
        margin: 3px;
      }
     
    }

    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {
      button{
        font-size:18px;
        margin: 3px;
      }
      
    }